<%# Locals: url, current_page, total_pages, per_page %>
<li>
  <%= link_to raw("&laquo; Prev"), url, rel: "prev",
        class: "inline-flex rounded-md border border-gray-300 px-3 py-1.5 text-gray-700 hover:bg-gray-100" %>
</li>
